body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #181823;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: #EFF5F5;
    text-decoration: none;
}

nav li:hover{
    background-color:  #FC7300;        
    }

    @media screen and (max-width: 320px) {
        .menu {
            display: block;
        }
    
        .menu li {
            display: block;
            margin: 10px 0;
        }
    }

 

    .titulo {
        position: relative;
    }
    
    .titulo img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .titulo .texto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #EFF5F5;
        border-color: #181823;
        text-shadow: #181823;
    }
    
    .titulo .texto h1 {
        font-size: 24px;
        margin: 0;
    }
    
 
    @media screen and (min-width: 768px) {
        .portada {
            max-width: 768px;
            margin: 0 auto;
        }
    
        .portada .texto h1 {
            font-size: 36px;
        }
    
        .portada .texto p {
            font-size: 20px;
        }
    }